/*		ADDITIONAL HELPER CLASSES	*/

.text-uppercase {
    text-transform: uppercase;
}

.text-lowercase {
    text-transform: lowercase;
}

.text-capitalize {
    text-transform: capitalize;
}

/*		ADMIN LTE OVERWRITES	*/
.main-header .navbar .nav>li.active>a {
	font-weight: bold;
}